* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    background-image: url("../images/jaguar-xe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    background-attachment: fixed; 
} 

.container {
    max-width: 600px;    
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    margin: 30px;
    padding: 25px;
}

.container h1 {
    margin-top: 0;
    color:#fff;
    width: 100%;
}

.container p {
    color: #fff;
    font-size: 16px;
}

.container a {
    background-color:#DB3030;
    display: block;
    width: 180px;
    height: 40px;
    border-radius: 3px;  
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width:768px) {
    .container {
    margin: 80px;
    }
  }